---
# Install Docker
- name: Update apt cache
  apt:
    update_cache: yes

- name: Install required packages for Docker
  apt:
    name: "{{ docker_packages }}"
    state: present

- name: Add Docker's official GPG key
  apt_key:
    url: "{{ docker_gpg_key_url }}"
    state: present

- name: Add Docker repository
  apt_repository:
    repo: "{{ docker_repo }}"
    state: present

- name: Install Docker
  apt:
    name: "{{ docker_package }}"
    state: present
    update_cache: yes

- name: Start Docker service
  service:
    name: "{{ docker_service }}"
    state: started
    enabled: yes

- name: Add {{ docker_user }} to docker group
  user:
    name: "{{ docker_user }}"
    groups: docker
    append: yes
